
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-size: 62.5%;
}

/* my css begins now */
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header-section{
    background-color:  rgb(80, 146, 80);
    width: 100vw;
    padding: 1%;
}

h1{
    text-align:center;
    color: white;
    font-size: xx-large;
    font-family:'Poppins', sans-serif;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
}

.header-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    list-style-type: none;
    width: 50%;
}

.header-nav button{
    background-color: white;
    padding: 10%;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.header-nav button:hover {
    background-color: rgb(223, 223, 223);
}

h3{
    display: flex;
    justify-content:center;
    align-content: center;
    padding: 1%;
}

.info-section {
    font-family:'Poppins', sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    padding: 1%;
}

.portfolio-section {
    display: flex;
    flex-flow: wrap;
    padding: 1%;
    margin: 0 auto;
    width: 80%;
}

.portfolio-section .project {
    width: 450px;
    height: 450px;
    margin: 20px auto;
    border-radius: 10px;
}

.project:hover{
    box-shadow: 3px 3px 8px rgb(32, 32, 32);
}

footer{
    background-color: rgb(80, 146, 80);
    width: 100%;
    padding: 1%;
}

.footer-nav{
    background-color: rgb(80, 146, 80);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5%;
    width: 75%; 
    margin: 0 auto;
}

.footer-nav button{
    background-color: white;
    padding: 10%;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.footer-nav button:hover{
    background-color: rgb(223, 223, 223);
}

/* adding media queries starts here */

@media screen and (max-width: 1024px){
    .header-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .portfolio-section .project {
        width: 250px;
        height: 250px;
        margin: 15px auto;
        border-radius: 10px;
    }

    .header-nav button{
        padding: 7.5%;
        width: 100px;
        border-radius: 10px;
    }

    .footer-nav button {
        padding: 7.5%;
        width: 100px;
        border-radius: 10px;
    }
}
  
@media only screen and (max-width: 500px){
    .header-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .portfolio-section .project {
        width: 150px;
        height: 150px;
        margin: 10px auto;
        border-radius: 10px;
    }

    .header-nav button{
        padding: 5%;
        width: 100px;
        border-radius: 10px;
    }

    .footer-nav button {
        padding: 5%;
        width: 100px;
        border-radius: 10px;
    }
}
    